/**
 * 公共组件布局
 * @author  libaoxu 2016-03-21
 */
@charset "UTF-8";

//基本公共样式定义区域
@bg_color: #fff;
@gray_bg_color: #ececec;

@word_color: #333;
@active_color: #ffd02d;
@theme_color: #ffe25e;
@theme_color_ligten: #fff0ae;
@red_color: rgb(218,57,57);
@font_size: 24/@scale_rem;
@scale_rem: 200rem;
body {
    font-size: @font_size;
    color: @word_color;
}
a {
    color: @word_color;
}

//盒子模型
.base-border-box {
    -webkit-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}


//ui 公共的淡入淡出
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
       -moz-transition: opacity .15s linear;
        -ms-transition: opacity .15s linear;
         -o-transition: opacity .15s linear;
            transition: opacity .15s linear;
}
.fade.in {
    opacity: 1;
}
