<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="content">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="../../css/lib/base.css">
    <link rel="stylesheet" href="../../css/personal/orderDetail.css">
</head>
<body>
<!-- 个人中心主页 -->
<div class="orderDetail-container" id="sp_orderDetail_container" data-order-type="staySend">
    <div class="detail-header" >
        <h1><span class="detail-header-logo"></span>等待买家付款</h1>
    </div>

    <div class="detail-content">
        <div class="item address">
            <em class="addr-logo"></em>
            <div class="info">
                <div class="top">
                    <strong class="name">收件人:&nbsp;&nbsp;Top</strong>
                    <b class="tel">1858861282</b>
                </div>
                <div class="detail">
                    收件地址:&nbsp;&nbsp;北京市朝阳区高碑店七区诋毁东辉家园16单元404
                </div>
            </div>
        </div>

        <!-- 店铺内容 -->
        <div class="item shop">
            <section class="shop-title">崔胜贤</section>
            <!-- 货物列表, 方便以后购物车扩展 -->
            <section class="goods-wraper">
                <div class="good clearfix">
                    <img src="../../img/personal/101.jpg" alt="">
                    <div class="info ">
                        <p class="good-name">绿茶仔精粹水分清露80ml小绿瓶</p>
                        <div class="bottom">
                            <b class="count">× 1</b>
                            <b class="price">¥ 123</b>
                        </div>
                    </div>
                </div>

                <div class="transport-expenses">
                    运费: <span>¥ 0</span>
                </div>
            </section>
        </div>

        <div class="item describe">
            订单状态:&nbsp;&nbsp;等待卖家付款 <br>
            订单编号:&nbsp;&nbsp;567878o9123123 <br>
            下单时间:&nbsp;&nbsp;2016-03-31 11:09:15 <br>
        </div>
        <div style="height: .6rem;"></div>
    </div>

    <div class="detail-footer">
        <div class="btn-wrap sp_btn_wrap">
            <button type="button" class="detail-btn cancel-order">取消订单</button>
            <button type="button" class="detail-btn immediate-payment">立即支付</button>
            <button type="button" class="detail-btn logistics">查看物流</button>
            <button type="button" class="detail-btn confirm">确认收货</button>
            <button type="button" class="detail-btn evaluate">立即评价</button>
        </div>
    </div>
</div>

    <script src="http://cdn.bootcss.com/fastclick/1.0.6/fastclick.js"></script>
    <script src="../../js-debug/lib/require.js"></script>
    <script>

        requirejs.config({
            baseUrl: '../../js-debug/personal',
            path: {
                'lib': '../lib'
            },
            shim: {
                '../widget/spApp': {
                    deps: ['../lib/jQuery'],
                    exports: 'spApp'
                },
                'order': {
                    deps: ['../lib/jQuery', '../widget/spApp'],
                    exports: 'order'
                }
            }

        });

        requirejs(['order'], function (order) {
            console.log('load finished personal orderDetail');

        });

        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        });

    </script>
</body>
</html>
