<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手机验证</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="content">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="../../css/lib/base.css">
    <link rel="stylesheet" href="../../css/personal/verify.css">

</head>
<body>
<!-- 验证容器 -->
<div class="verify-container">

    <!-- 验证手机 -->
    <div class="verify-phone tab-pane fade in active" id="sp_verify_phone_content">

        <h1 class="describe"> 欢迎注册实拍, 惊喜欢迎你! </h1>

        <div class="verify-form-content">

            <form action=""  data-toggle="InputControl">
                <div class="form-group">
                    <div class="input-del-group">
                        <input class="form-control phone sp_input_value"  name="phone" type="tel" placeholder="手机号码" maxlength="11" id="sp_phone_value" data-bg-related="verify_phone">
                        <div class="del-wrap sp_input_del" data-bg-related="verify_phone">
                            <span>×</span>
                        </div>
                    </div>
                </div>

                <div class="form-group code-wrap clearfix">
                    <div class="input-del-group security-code">
                        <input class="form-control  sp_input_value" name="code"  type="tel" placeholder="验证码" maxlength="6" id="sp_security_code" data-bg-related="verify_code" readonly="true">
                        <div class="del-wrap sp_input_del" data-bg-related="verify_code">
                            <span>×</span>
                        </div>
                    </div>
                    <button class="form-control get-secu-code" type="button" id="sp_get_code">获取验证码</button>
                </div>

                <div class="form-group agree-checkbox ">
                    <input class="hide sp_agree_proto sp_input_checkbox" type="checkbox" name="agree" id="sp_agree_proto">

                    <label class="" for="sp_agree_proto"></label>
                    <a class="agree-control" href="#sp-playing-protocol">同意实拍直播协议</a>
                </div>
            </form>

        </div>

        <div class="btn-wrap">
            <button class="btn next-page sp_phone_confirm" data-target="#sp_verify_indentity_content" type="button" id="sp_next_page">下一步</button>

            <button class="btn hide save-btn sp_phone_confirm" type="button" id="sp_save_phone">保存</button>
        </div>

    </div>

    <!-- 验证身份证 -->
    <div class="verify-indentity tab-pane fade" id="sp_verify_indentity_content">

        <div class="verify-form-content">

            <form action=""  data-toggle="InputControl">
                <div class="form-group">
                    <div class="input-del-group">
                        <input class="form-control phone sp_input_value"  name="realName" type="text" placeholder="姓名" maxlength="4" id="sp_real_name" data-bg-related="verify_real_name">
                        <div class="del-wrap sp_input_del" data-bg-related="verify_real_name">
                            <span>×</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-del-group ">
                        <input class="form-control sp_input_value" name="indentityCard"  type="tel" placeholder="身份证号码" maxlength="18" id="sp_indentity_card" data-bg-related="verify_indentity_card">
                        <div class="del-wrap sp_input_del" data-bg-related="verify_indentity_card">
                            <span>×</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="verify-indentity-img">
                        <img class="" src="../../img/personal/perInfo/indentity_img_bg.png" alt="" id="sp_indentityImg_prev">
                        <div class="upload-img-block">
                            <p>上传身份证照片</p>
                        </div>
                        <label for="sp_indentityImg_file"></label>
                    </div>
                    <input class="sp_input_file hide" type="file" name="indentityImg" id="sp_indentityImg_file" data-target="#sp_indentityImg_prev">
                </div>
            </form>

        </div>

        <div class="btn-wrap">

            <button class="btn save-btn sp_indentity_confirm" type="button" id="sp_save_indentity">保存</button>
        </div>

        <div class="indentity-example">
            <h5>参考示例</h5>
            <img src="../../img/personal/perInfo/indentity_example.png" alt="">
        </div>

    </div>

    <!-- 实拍直播协议 -->
    <div id="sp-playing-protocol"></div>

</div>


    <script src="http://cdn.bootcss.com/fastclick/1.0.6/fastclick.js"></script>
    <script src="../../js-debug/lib/require.js"></script>
    <script>


        requirejs.config({
            baseUrl: '../../js-debug/personal',
            path: {
                'lib': '../lib'
            },
            shim: {
                '../widget/spApp': {
                    deps: ['../lib/jQuery'],
                    exports: 'spApp'
                },
                'verify': {
                    deps: ['../lib/jQuery', '../widget/spApp'],
                    exports: 'verify'
                }
            }

        });

        requirejs(['verify' ], function (verify) {
            console.log('load finished verify');

            // $('input').each(function (i, el) {
            //     el.actived = undefined;
            // });

        });


        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        });

    </script>
</body>
</html>
